@model MyBlog.Models.ApplicationUser

<h1>@Model.UserName</h1>
<img src="@Model.ProfilePictureUrl" alt="@Model.UserName's Profile Picture" />
<p>Email: @Model.Email</p>
<p>Bio: @Model.Bio</p>
<p>Location: @Model.Location</p>
<p>Website: @Model.Website</p>
<!-- Display other user details here -->

<h2>Blog Posts</h2>
@foreach (var post in Model.Posts)
{
    <div>
        <h3><a href="/Post/Details/@post.Id">@post.Title</a></h3>
        <p>Published: @post.PublishDate</p>
    </div>
}