@model ExternalLoginsViewModel
@{
    ViewData["Title"] = "Manage your external logins";
}

<h2>@ViewData["Title"]</h2>

<section>
    <h4>Current external logins</h4>
    <p>
        The following external services are associated with your account. You can unlink any service that you no longer want to use to log in.
    </p>
    <dl>
        @if (Model.CurrentLogins != null)
        {
            @foreach (var login in Model.CurrentLogins)
            {
                <dt>@login.ProviderDisplayName</dt>
                <dd>
                    <form asp-action="RemoveLogin" method="post">
                        <input type="hidden" name="LoginProvider" value="@login.LoginProvider" />
                        <input type="hidden" name="ProviderKey" value="@login.ProviderKey" />
                        <button type="submit" class="btn btn-default">Remove</button>
                    </form>
                </dd>
            }
        }
    </dl>
</section>

<section>
    <h4>Add another external login</h4>
    <p>
        You can link additional external services to your account. Select from the list of available services below.
    </p>
    <form asp-action="LinkLogin" method="post">
        @if (Model.OtherLogins != null)
        {
            @foreach (var provider in Model.OtherLogins)
            {
                <button type="submit" name="provider" value="@provider.Name" title="Link your @provider.DisplayName account">
                    Link @provider.DisplayName
                </button>
            }
        }
    </form>
</section>