@model MyBlog.Models.BlogPost

@{
    ViewData["Title"] = Model.Title;
}

<div class="container">
    <div class="row">
        <div class="col-md-12 mt-3 mb-3">
            <div class="card">
                <img src="@Model.ImageUrl" class="card-img-top" alt="@Model.Title">
                <div class="card-body">
                    <h5 class="card-title">@Model.Title</h5>
                    <p class="card-text">@Model.Content</p>
					<a href="@Url.Action("Details", "Blog", new { id = Model.Id })" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>