@model List<BlogPost>

@{
    ViewData["Title"] = "Blog";
}

<div class="container">
    <div class="row">
        @foreach (var post in Model)
        {
            <div class="col-md-12 mt-3 mb-3">
                <div class="card">
                    <img src="@post.ImageUrl" class="card-img-top" alt="@post.Title">
                    <div class="card-body">
                        <h5 class="card-title">@post.Title</h5>
                        <p class="card-text">@post.Summary</p>
                        <a href="@Url.Action("Details", "Blog", new { id = post.Id })" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>